<html>
	<head>
		<title>All the problem domains</title>
		<link href="/stylesheets/nou.css" media="all" rel="stylesheet" type="text/css" />
	</head>
<body>
	<div class="table-wrapper">
		<table>
			<tr>
				<th>Name</th><th>Url</th><th></th><th></th>
			</tr>
			{%- for problemDomain in problemDomains %}
				<tr>
					<td>{{problemDomain.name}}</td>
					<td>{{problemDomain.url}}</td>
					<td><a href="problemdomainview/{{problemDomain.id}}">Details</a></td>
					<td><a href="dataview/{{problemDomain.id}}">Data</a></td>
				</tr>
			{%- endfor %}
		</table>
		<a class="button" href="/problemdomain/new"> Add Problem Domain</a>
	</div>
</body>
</html>